.custom-card {
  background-color: #f8f9fa; /* Light gray background for cards */
}

.zoom-in-image {
  transition: transform 0.2s ease-in-out;
}

.zoom-in-image:hover {
  transform: scale(1.05);
}

.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff; 
}